#root.root {--nav-btn-margin: 8px;}
#root.root {--toolbar-bg: transparent;}
#root.root {--tabs-margin: 7px;}
#root.root {--tabs-pinned-height: 45px;}
#root.root {--tabs-pinned-width: 55px;}
#root.root {--tabs-height: 37px;}
#root.root {--tabs-inner-gap: 7px;}
#root.root {--nav-btn-width: 37px;}
#root.root {--nav-btn-height: 37px;}
#root.root {--nav-btn-len-margin: 3px;}
#root.root {--general-margin: 4px;}
#root.root {--general-border-radius: 7px;}

.Tab[data-pin="true"] .body {
	/* border: 1px solid #fafafa80; */
	box-shadow: 0px 0px 7px #00000020;
}

.Tab .title {
	background: linear-gradient(90deg, var(--tabs-normal-fg) 70%, #f1f1f100 95%);
	background-clip: text;
	color: transparent;
}
